<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="header">
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Alcir">
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet" />
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css}" th:rel="stylesheet"/>
  
  
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		
</head>
<body>
	<!-- Navbar -->
 	<div th:fragment="navbarMenu">
		<nav class='navbar navbar-expand navbar-dark bg-dark'>
			<a class='navbar-brand' href='/'>Tarefas</a>
				
			<!--  Navbar conectado -->
			
		    <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
		      <li class="nav-item dropdown no-arrow mx-1">
		         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            <span class="badge badge-danger" id="alertas"></span>
		            <i class="fas fa-bell fa-fw"></i>
		          </a>
		          <div id="tarefas" class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
		          </div>
		      </li>
		      <li class="nav-item no-arrow mx-1">
	        		<a class="nav-link " th:href="@{/logout}" id="logout" aria-haspopup="true" aria-expanded="false">
	                   <i class="fas fa-power-off"></i>
		        </a>
		      </li>
		    </ul>
		</nav>
	</div>
  
  
  	<div th:fragment="rodape">
      	<!-- Sticky Footer -->
      	<footer class="sticky-footer">
        	<div class="container my-auto fixed-botton">
          		<div class="copyright text-center my-auto">
            		<span>Alcir César da Silva, 2020</span>
          		</div>
        	</div>
      	</footer>
    	
  
  	</div>
  	
  	

</body>
</html>